<div class="pad5">
  <h1 style="height: 370px; font-size: 50px; color: #555; text-align: center; padding: 50px;  background: transparent url('/images/PageNotFound-Man.jpg') no-repeat scroll center bottom;">
  <a href="/" title="перейти на главную"><span class="error">404</span> Извините такой страницы нет.</a></h1>
</div>

