<div>
  <h1 style="height: 370px; font-size: 50px; color: #555; text-align: center; padding: 50px;  background: transparent url('/images/500-cherv.jpg') no-repeat scroll center bottom;">
  <a href="/" title="перейти на главную">HTTP 500 Внутрення ошибка сервера</a></h1>
  <p class="c">Администрация уже уведомлена об ошибке, и в ближайшее время она будет исправленна.<br/>
  Попробуйте зайти завтра.</p>
</div>
