<% title(t('general.request_password')) -%>
<h1><%= yield(:title) %></h1>
<div id="activation">
  <% form_remote_for(:user,:url=>{:controller=>'login',:action=>'repassword'}) do |f|-%>
    <dl class="table w450">
      <dt>Логин:</dt>
      <dd><%= f.text_field "login" %></dd>
      <dt>или Емейл:</dt>
      <dd><%= f.text_field "email" %></dd>
      <dt><%= submit_tag t('general.send'), :disable_with => 'Загрузка' %></dt>
    </dl>
  <% end -%>
</div>