<h3>Документация и инструкции.</h3>
<% unless session[:user] -%>
  (Если вы видите только список названий документов, но хотите скачать одну из этих книг, будьте любезны
  <%= link_to('зарегистрируйтесь', new_user_path) %>.)
<% end -%>
<div class="small">Ниже представленная документация размещена для ознакомления,
  и никакая электронная копия книги не заменит вам печатное издание.</div>
<div>Для любителей скачать все сразу: будьте любезны качать только те книги 
  которые вам интересны сейчас, а не все подряд, они никуда не пропадут.</div>
<dl>
  <%= @files.sort.collect{|file| content_tag(:dt, session[:user] ? link_to(file, '/doc/'+file, :title=>file) : file)}.to_s%>
</dl>
